In [12]:
import pandas as pd
from pathlib import Path
#shortcut name pandas renamed to pd (industry standard to name is pd for pandas)
#pandas (dataframes) and pathlib (operating system) code that has already been written

In [13]:
school_path = Path("Resources/schools_complete.csv")
student_path = Path("Resources/students_complete.csv")
#this is creating path to the file

In [14]:
school_data = pd.read_csv(school_path)
student_data = pd.read_csv(student_path)
#creating the dataframe

In [21]:
merged_data = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
#on is saying what is the same in both datasets
merged_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

### District Summary

In [25]:
# Calculate the total number of unique schools
#two different ways
#school_count = merged_data["school_name"].nunique()
#rows, columns = merged_data.shape - naming the rows, column aka bob
school_count = len(school_data)
school_count

15

In [26]:
# Calculate the total number of students
#student_count = merged_data["student_name"].count()
student_count = len(merged_data)
student_count

39170

In [29]:
# Calculate the total budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [67]:
# Calculate the average (mean) math score
average_math_score = merged_data["math_score"].mean()
average_math_score

78.98537145774827

In [32]:
# Calculate the average (mean) reading score
average_reading_score = merged_data["reading_score"].mean()
#aggregation method because we are wanting a change in the data, need to end with ()
#properties of data frame like index or columns do not need to end with ()
average_reading_score

81.87784018381414

In [59]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = merged_data[(merged_data["math_score"] >= 70)]["student_name"].count()
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [62]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = merged_data[merged_data["reading_score"] >= 70]["student_name"].count()
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [64]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = merged_data[
    (merged_data["math_score"] >= 70) & (merged_data["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [69]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame( { "Total Schools": [school_count], 
                                 "Total Students" : [student_count], 
                                 "Total Budget": [total_budget],
                                 "Average Math Score": [average_math_score]
                                 })

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

   Total Schools Total Students    Total Budget  Average Math Score
0             15         39,170  $24,649,428.00           78.985371