In [12]:
import pandas as pd
from pathlib import Path
#shortcut name pandas renamed to pd (industry standard to name is pd for pandas)
#pandas (dataframes) and pathlib (operating system) code that has already been written

In [13]:
school_path = Path("Resources/schools_complete.csv")
student_path = Path("Resources/students_complete.csv")
#this is creating path to the file

In [14]:
school_data = pd.read_csv(school_path)
student_data = pd.read_csv(student_path)
#creating the dataframe

In [21]:
merged_data = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
#on is saying what is the same in both datasets
merged_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

# District Summary

In [25]:
# Calculate the total number of unique schools
#two different ways
#school_count = merged_data["school_name"].nunique()
#rows, columns = merged_data.shape - naming the rows, column aka bob
school_count = len(school_data)
school_count

15

In [26]:
# Calculate the total number of students
#student_count = merged_data["student_name"].count()
student_count = len(merged_data)
student_count

39170

In [29]:
# Calculate the total budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [67]:
# Calculate the average (mean) math score
average_math_score = merged_data["math_score"].mean()
average_math_score

78.98537145774827

In [32]:
# Calculate the average (mean) reading score
average_reading_score = merged_data["reading_score"].mean()
#aggregation method because we are wanting a change in the data, need to end with ()
#properties of data frame like index or columns do not need to end with ()
average_reading_score

81.87784018381414

In [59]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = merged_data[(merged_data["math_score"] >= 70)]["student_name"].count()
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [62]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = merged_data[merged_data["reading_score"] >= 70]["student_name"].count()
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [64]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = merged_data[
    (merged_data["math_score"] >= 70) & (merged_data["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [91]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame( { "Total Schools": [school_count], 
                                 "Total Students" : [student_count], 
                                 "Total Budget": [total_budget],
                                 "Average Math Score": [average_math_score],
                                  "% Passing Math": [passing_math_percentage],
                                  "% Passing Reading": [passing_reading_percentage],
                                 "% Overall Passing": [overall_passing_rate]})

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary["Average Math Score"] = district_summary["Average Math Score"].map("{:,.2f}".format)
district_summary["% Passing Math"] = district_summary["% Passing Math"].map("{:,.2f}%".format)
district_summary["% Passing Reading"] = district_summary["% Passing Reading"].map("{:,.2f}%".format)
district_summary["% Overall Passing"] = district_summary["% Overall Passing"].map("{:,.2f}%".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.99,74.98%,85.81%,65.17%

# School Summary

In [74]:
#school name
school_name = school_data["school_name"]
school_name

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
Name: school_name, dtype: object

In [87]:
# Use the code provided to select all of the school types
school_type = school_data.set_index(["school_name"])["type"]
school_type
#is this what it is asking or does it want just the two different types?

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [83]:
# Calculate the total student count per school
per_school_counts = school_data["size"]
per_school_counts

0     2917
1     2949
2     1761
3     4635
4     1468
5     2283
6     1858
7     4976
8      427
9      962
10    1800
11    3999
12    4761
13    2739
14    1635
Name: size, dtype: int64

In [94]:
# Calculate the total school budget and per capita spending per school
per_school_budget = school_data["budget"]
per_school_capita = per_school_budget / per_school_counts
per_school_capita

0     655.0
1     639.0
2     600.0
3     652.0
4     625.0
5     578.0
6     582.0
7     628.0
8     581.0
9     609.0
10    583.0
11    637.0
12    650.0
13    644.0
14    638.0
dtype: float64

In [ ]:
# Calculate the average test scores per school
#per_school_math = school_name / (how we get it to look at only the score for the specific school? )
#per_school_reading =

In [ ]:
# Calculate the number of students per school with math scores of 70 or higher
# students_passing_math = 
# school_students_passing_math =

In [ ]:
# Calculate the number of students per school with reading scores of 70 or higher
# students_passing_reading = 
# school_students_passing_reading =